*{
padding : 0;
margin : 0;
border : 0;
}
body{
background-image : url(' background.jpg ');
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 900px;
overflow : auto;
margin : 30px auto 0 auto;
}
h1{
	font-size:21px;
}
h2{
	font-size:36px;
	vertical-align: center;
} 
h3{
	font-size:21px;
	vertical-align: center;
}
.pageHeader{
background-color : rgba(0, 0, 0, 0.5);
color: white;
float : left;
clear : none;
height : 200px;
width : 900px;

   font-family: Helvetica, Arial, Sans-Serif;
}
.pageLeftMenu{
background-color : rgba(0, 0, 0, 0.5);
color: white;
float : left;
clear : none;
height : 600px;
width : 200px;

   font-size: 17px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.pageContent{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 600px;
width : 700px;
}
.pageFooter{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 100px;
width : 900px;
}
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 9.5px 19px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   width: 180px;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #b8b6b8;
   }
.button:active {
   border-top-color: #25730a;
   background: #25730a;
   }

